*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ui{
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
}
.nav-bar{
    grid-column: 1/2;
    border: 1px solid black;
}
