
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Tahoma, Arial, sans-serif;
}
form {
    margin: auto;
    width: 600px;
    padding: 20px;
    border: 2px solid darkgoldenrod;
    box-shadow: 2px 2px 5px darkgoldenrod;
    transform: translateY(30vh);
}

#container {
    margin: 50px auto;
}

#email, #currentpassword, #repeatpassword, #newpassword {
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
}

form{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}
#head{
    grid-column: 1/3;
}
.email-label{
    grid-column: 1/2;
}
.current-password-label{
    grid-column: 2/3;
}
#email{
    grid-column: 1/2;
}
#currentpassword{
    grid-column: 2/3;
}
.new-password-label{
    grid-column: 1/2;
}
.retype-password-label{
    grid-column: 2/3;
}
#newpassword{
    grid-column: 1/2;
}
#repeatpassword{
    grid-column: 2/3;
}
#btn{
    grid-column: 1/3;
    text-align: center;
}

h1 {
    text-align: center;
}

#btn {
    text-align: center;
}

button {
    background-color: darkgoldenrod;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a88612;
}

