* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    padding-top: 3vh;
}

.mb-3{
    margin-top: 100px;
    display: inline-block;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 13vw;
    padding-right: 12vw;
    column-gap: 30px;
    user-select: none;
    -webkit-user-select: none;
    margin-top: 1px;
}

.detail-box-img {
    grid-column: 1/2;
}

.large-img {
    width: 550px;
    height: 600px;
    border: 1px solid black;
}

.img-1 {
    width: 100%;
    height: 100%;
}

.small-img {
    display: flex;
    flex-direction: row;
    width: 550px;
    height: 120px;
    gap: 10px;
    padding-top: 10px;
}

.small-img img {
    width: 100%;
    height: 100%;
}

.slide-img,
.light-box {
    position: absolute;
    /* display: none; */
    /* visibility: hidden; */
    width: 50%;
    top: 10%
}

.light-box {
    padding-left: 13vw;
    padding-right: 12vw;
    visibility: hidden;
    z-index: 1001;
}

.light-box .close {
    position: fixed;
    top: 5vh;
    right: 13vw;
    cursor: pointer;
    font-size: 24px;
    width: auto;
    padding: 16px;
    font-weight: bold;
    border-radius: 3px 0 0 3px;
}

.light-box .close:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.light-box .prev,
.light-box .next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    color: white;
    width: auto;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.light-box .next {
    right: 13vw;
    border-radius: 3px 0 0 3px;
}

.light-box .prev:hover,
.light-box .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.slide {
    width: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10%;
    position: fixed;
    z-index: 1;
}

.slide img {
    width: 100%;
}

.default {
    z-index: 5;
}

.queue {
    z-index: 1;
    position: fixed;
    display: flex;
    white-space: nowrap;
    width: 40%;
    transform: translate(40%, 65vh);
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.queue::-webkit-scrollbar {
    width: 6px;
}

.queue::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.row {
    padding: 3px;
    min-width: 25%;
    display: flex;
    justify-content: center;
    filter: brightness(50%);
}

.active {
    filter: brightness(100%);
}

.row img {
    width: 100%;
}

.row:hover {
    filter: brightness(100%);
    cursor: pointer;
}

.details-text-box {
    grid-column: 2/3;
    padding-top: 15px;
    line-height: 1.8;
}

.product-id {
    font-size: 15px;
}

.product-name {
    font-size: 30px;
    padding-bottom: 10px;
}

.black-line {
    border-top: 1px solid black;
    width: 80px;
}

.rating {
    padding-top: 15px;
}

.price {
    font-weight: bold;
    font-size: 22px;
    display: flex;
}

.description-product p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    color: black;
}

.criteria-product ul li {
    font-weight: 400;
    font-size: 15px;
    border-bottom: 1px solid #ebebeb;
    padding-top: 10px;
}

.criteria-product {
    transform: translatex(1.5vw);
}

.recommendation {
    margin-top: 20px;
    font-size: 14px;
    border-left: 5px solid #eeeeee;
    padding: 10px 20px 10px 20px;
    text-align: justify;
}

.recommendation p a {
    color: #337cbe;
}

.advice {
    font-size: 14px;
    background-color: #f8f8f8;
    padding: 10px 15px 10px 15px;
    margin-top: 30px;
}

.payment-cart {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* background-color: #e2c16c; */
    margin-top: 10px;
    grid-column-gap: 10px;
    height: 30px;
}

.payment-button,
.cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    background-color: #e2c16c;
    font-weight: 400;
    width: 100%;
    height: 6vh;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: black;
    border-radius: 3px;
}

.payment-button:hover,
.cart-button:hover,
.payment-button:hover i {
    background-color: #77622d;
    color: white;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    padding-top: 20px;
    font-weight: 400;
}

.phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.zalo {
    border-left: 1px solid #ebebeb;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.phone-num,
.zalo-num {
    font-weight: bold;
}

.social-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.contact-method {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.share-on-social-media {
    font-size: 16px;
    font-weight: 400;
}

.specifications {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 50px);
    padding-left: 13vw;
    padding-right: 12vw;
}

.specifications-label {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
}

.type,
.opacity,
.color,
.status,
.cubes,
.size,
.weight,
.accreditation {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 15px;
    border-bottom: 1px solid #ebebeb;
    vertical-align: middle;
}

.weight,
.accreditation {
    border: 0px;
}

.type div,
.opacity div,
.color div,
.status div,
.cubes div,
.size div,
.weight div,
.accreditation div {
    margin-top: auto;
    margin-bottom: auto;
}

.type-label,
.opacity-label,
.color-label,
.status-label,
.cubes-label,
.accreditation-label,
.size-label,
.weight-label {
    font-weight: bold;
}

.contact-number-choosing {
    padding-left: 13vw;
    padding-right: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.landline,
.hotline,
.counselors,
.chat-zalo-whatapp-wechat {
    font-size: 18px;
    background-color: #f8f8f8;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landline,
.hotline,
.counselors {
    border-right: 2px solid white;
}

.landline,
.hotline,
.counselors,
.chat-zalo-whatapp-wechat {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-number-choosing :hover {
    background-color: #333333;
    color: white;
}

.landline-label,
.hotline-label,
.counselors-label,
.chat-zalo-whatapp-wechat-label {
    font-size: 15px;
    padding-bottom: 10px;
}

.landline-num,
.hotline-num,
.counselors-num,
.chat-zalo-whatapp-wechat-num {
    font-weight: bold;
}

.time-line {
    font-size: 12px;
    padding-top: 5px;
}

.infomation-products-label {
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    font-weight: 400;
    font-size: 35px;
}

.infomation-products-box {
    border: 1px solid #aaaaaa;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 40px;
}

.table-contents {
    font-size: 14px;
    padding-bottom: 5px;
    transform: translateX(15px);
}

.table-contents ol li a {
    color: black;
    display: flex;
    flex-direction: row;
    padding-bottom: 7px;
}

.infomation-content {
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 15px;
    font-size: 17px;
    font-weight: 500;
    width: 100%;
}

.scroll-down {
    border: 1px solid #aaaaaa;
    width: 2vw;
    margin-left: auto;
    margin-right: 10px;
    background-color: white;
    border-radius: 5px;
}

.scroll-down-button {
    background-color: white;
    border: 0px;
    width: 100%;
    border-radius: 5px;
}

.information-products-praragraph {
    margin-top: 30px;
}

.information-products-title {
    font-weight: bold;
}

.information-products-text {
    font-size: 15px;
    padding-top: 10px;
}

.information-products-text p a {
    color: #00f;
}

.information-products-img-img {
    border: 1px solid black;
    padding: 4px;
}

.information-products-img-img img {
    border: 1px solid black;
    width: 100%;
}

.note {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-style: italic;
    padding-top: 5px;
}

.price-product {
    margin-top: 30px;
}

.price-product-title {
    font-weight: bold;
}

.price-product-menu {
    font-size: 15px;
    padding-top: 10px;
    transform: translateX(1.5vw);
}

.price-product-menu ul li a {
    color: #00f;
}

.price-product-img {
    margin-top: 10px;
}

.price-product-img-img {
    border: 1px solid black;
    padding: 4px;
}

.price-product-img-img img {
    border: 1px solid black;
    width: 100%;
}

#deliver h3 {
    font-size: 25px;
}

#deliver ol {
    transform: translateX(2vw);
    width: 98%;
}

#deliver ol ul li p {
    font-size: 15px;
}

.policy-1,
.policy-2 {
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
}

.policy-line-bold {
    font-weight: bold;
}

.deliver-ending {
    text-align: right;
    font-size: 12px;
    padding-top: 10px;
    font-style: italic;
}

.gold-and-diamon-jewelry,
.colored-gemstones,
.non-guarantee-case {
    list-style-position: inside;
}

.gold-and-diamon-jewelry-label,
.colored-gemstones-label,
.non-guarantee-case-label {
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 10px;
}

.non-guarantee-case-label {
    font-size: 25px;
}

.colored-gemstones-label,
.non-guarantee-case-label {
    padding-top: 20px;
}

.gold-and-diamon-jewelry ul,
.colored-gemstones ul,
.non-guarantee-case ul {
    font-size: 15px;
    transform: translateX(1vw);
}

.gold-and-diamon-jewelry ul li,
.colored-gemstones ul li,
.non-guarantee-case ul li {
    padding-top: 2px;
}

.place-map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tab-content {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.where-to-buy {
    margin-bottom: 30px;
    border: 0px;
}

.where-to-buy-label {
    font-size: 25px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 60px;
}