*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}


#container{
    margin: 0;
    padding: 0;
    width: 500px;
    height: 500px;
}

form {
    border: double 2px darkgoldenrod;
    margin-left: 450px;
    margin-top: 100px;
    width:500px;
    height:300px;
    box-shadow: darkgray 2px 2px;
    border-radius: 5px;
    text-align: center;
    background-color: #fcf7dc;
}

button{
    margin-top:50px;
    width:150px;
    background-color: #e2c16c;
    cursor:pointer;
    border-radius: 5px;
}
button:active{
    background-color: #EEEA3CFF;
}
.item{
    margin-top: 50px;
}
#btn{
    display: flex;
    flex-direction: column;
    gap:20px;
}
