*{
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 100px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: black solid 2px;
}

header .container{
    height: 100px;
}

header .box{
    width: 100%;
    height: 150px;
    position: relative;
    display: inline-block;
}

header .box .logo{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 30px;
    margin-left: 40px;
}

header .box .logo img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

header .box nav{
    float: left;
    margin-top: 30px;
    padding-left: 20px;
    width: 55%;
}

header .box nav .navigation-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header .box nav ul .navigation-item{
    float: left;
    padding: 10px;
}

header .box nav .navigation-list .navigation-item a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}

header .box nav .navigation-list .navigation-item .dropdown-gem{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    columns: 2; /* Chia thành 2 cột */
    column-gap: 20px; /* Khoảng cách giữa các cột */
    padding: 0;
    margin: 0;
}

header .box nav .navigation-list .navigation-item .dropdown-gem .dropdown-item{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

header .box nav .navigation-list .navigation-item .dropdown-gem .dropdown-item:hover{
    background-color: #ddd;
}

header .box nav .navigation-list .navigation-item:hover .dropdown-gem{
    display: block;
}

.header-btn {
    width: 31%;
    float: right;
    margin-top: 15px;
}

.header-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-item {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.header-item a {
    display: inline-block;
    padding: 10px;
}

.header-item:hover a {
    color: black;
}

.header-item:hover {
    background-color: #e2c16c;
}

.header-item > a i {
    font-size: 15px;
    vertical-align: middle;
}

/* CSS cho Header cart list */
.header__drop-list {
    position: absolute;
    top: 130%;
    right: 0;
    width: 500px;
    background-color: #fff;
    border-radius: 4px;
    cursor: default;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    transform-origin: 94% 0;
    transform: scale(0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 24px 64px;
}

.header__drop-list::after {
    content: '';
    position: absolute;
    top: -16px;
    right: 0;
    width: 128px;
    height: 80px;
}

.header__drop-list::before {
    content: '';
    position: absolute;
    top: -40px;
    right: 20px ;
    border-top: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 124px solid #fff;
    border-left: 24px solid transparent;
    cursor: pointer;
}

.header__drop:hover .header__drop-list {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

/* header cart empty */
.header__mt-img {
    width: 100%;
    object-fit: cover;
}

.header__mt-msg {
    color: gray;
    text-align: center;
    margin-bottom: 48px;
}

.header__drop-list > .header__mt {
    display: none;
}

.header__drop__empty > .header__mt {
    display: block;
}

.header__drop__empty > .header__drop-no-mt {
    display: none;
}

/* header cart have product */
.heading__drop__no-mt-msg {
    color: gray;
    font-size: 15px;
    font-weight: 500;
    margin: 24px;
}

.header__product-list {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
}

.header__product-item {
    display: flex;
    justify-items: flex-start;
    padding: 16px 16px;
    transition: all 0.2s;
    position: relative;
}

.header__product-item:hover {
    background-color: #e2c16c;
}

.header__product-link {
    display: block;
    position: absolute;
    inset: 0;
}

.header__product-item-img {
    height: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 16px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
}
.header__product-item-name {
    width: 60%;
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin-right: auto;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.header__product-item-price {
    font-size: 15px;
    font-weight: 500;
    color: black;
}

.header__drop__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px;
}

.heading__drop__bottom-msg {
    color: gray;
    font-size: 15px;
    font-weight: 400;
}

.header__drop__btn {
    color: white !important;
    font-weight: 500;
    background-color: #e2c16c;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.header__drop__btn:hover {
    background-color: #f3d300;
}

.header__drop__btn{
    font-size: 15px;
    text-decoration: none;
}

/* css for header search */
.header-search {
    flex: 1;
    margin-right: 10px;
    cursor: default;
}

.header-search:hover {
    background-color: #fff;
}

form[role='search'] {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-results-button,
.search-input::-webkit-search-results-decoration {
    appearance: none;
}

.search-input {
    width: 90%;
    height: 40px;
    padding: 10px 48px 10px 10px;
    color: #3d4247;
    background-color: #e2c16c;
    border: none;
    border-radius: 25px;
    outline: none;
    transition: all 0.2s;
}

.search-input:focus {
    width: 90%;
}

.search-input::placeholder {
    color: gray;
}

.header-search-btn {
    height: 100%;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-45%);
}

.sign-in a{
    text-decoration: none;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}