*{
    margin: 0;
    padding:0;
    font-size: 14px;
    font-family: Tahoma,sans-serif,Arial;
}
body{
    overflow-x: auto;
    overflow-y: auto;
}
img{
    border-radius: 60%;
    width:150px;
    height: 150px;
}
form{
    width:1000px;
    height:350px;
    border: 2px double ;
    display:grid;
    border-radius: 5px;
    grid-template-columns: 2fr 2fr;
    box-shadow: 2px 2px grey;
    margin: auto;
    transform: translateY(40%);
}
.item{
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
}
#save{
    color:black;
    background-color:#e2c16c;
    border:none;
    border-radius: 5px;
    width:110px;
    height:30px;
    cursor:pointer;
    margin-top:50px;
    margin-left: auto;
    float: right;
}
#btn-change{
    color:black;
    background-color: #e2c16c;
    border:none;
    border-radius: 5px;
    width:110px;
    height:30px;
    cursor:pointer;
    margin-top:50px;

}
input{
    border-radius: 2px;
    border-top:none;
    border-left:none;
    border-right:none;
}
.image{
    margin: auto;
}
#name,#phone,#email,#address{
    width:100%;
}
.date{
    margin-top:20px;
}
#address{
    margin-bottom: 10px;
}
#gender{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ui{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr 1fr;
}
.order .profile{
    order: 2;
}
.order .order-button,
.profile .profile-button{
    padding: 10px;
    top: 30%;
    border: 0px;
    background-color: #f5f5f5;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0px 3px 10px rgb(121, 121, 121);
}
.order .order-button:hover,
.profile .profile-button:hover{
    background-color: #0b0b0b;
    color: white;
}
.order .order-button:active,
.profile .profile-button:active{
    background-color: #0b0b0b;
    color: white;
}
.ui .tab-bar{
    grid-column: 1/2;
    grid-row: 1/3;
    padding-top: 150px;
    box-shadow: 3px 0px 10px rgb(121, 121, 121);
}
.ui .form{
    grid-column: 2/3;
}