.content{
    margin-top: 100px;
}

h1{
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
}

.content_1{
    border: black solid 5px;
    width: 93%;
    padding: 20px;
    height: 450px;
    margin: 50px;
    background-color: #f5f5e1;
    border-radius: 15px;
}

.content_1 img{
    float: right;
    width: 25%;
    margin-right: 50px;
}

.item{
    float: left;
    width: 40%;
    list-style-type: decimal;
    margin-top: 30px;
    margin-left: 50px;
}

.content_1 h2{
    margin-top: 10px;
}

.item li{
    font-size: 20px;
    padding: 5px;
}
