body{
    width: 100%;
}

header .container{
    margin: 0;
    padding: 0;
}

.pro-main{
    margin-top: 100px;
    position: relative;
}


/* Breadcrumb Styles */
.breadcrumb {
    background: none;
    padding: 10px 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.breadcrumb-item {
    font-size: 16px;
    margin-right: 5px;
}

.breadcrumb-item::after {
    content: '/';
    margin-left: 5px;
    color: #777;
}

.breadcrumb-item:last-child::after {
    content: '';
}

.breadcrumb-item a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease-in-out;
}

.breadcrumb-item a:hover {
    color: #e2c16c;
}

.container-fluid {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    height: 50px;
    padding-left: 100px;
}

h2{
    margin-top: 50px;
}

.pagination {
    display: inline-block;
    margin-left: 40%;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #e2c16c;
    color: white;
    border-radius: 10px;
}

.pagination a:hover:not(.active) {
    background-color: #e2c16c;
    border-radius: 10px;
}

.filter {
    display: inline-flex;
    margin-top: 10px;
    margin-left: 2%;
}

.filter i{
    display: inline-flex;
}

.filter .filter-item {
    padding-left: 30px;
}

.product{
    color: #baaa3f;
    text-align: left;
}

.price{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.product_name {
    color: #f3cc2c;
}
