* {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Tahoma, Arial, sans-serif;
    box-sizing: border-box;

}

form {
    border: double 2px darkgoldenrod;
    margin-top: 200px;
    margin-left:550px;
    width:500px;
    height:300px;
    box-shadow: darkgray 2px 2px;
    border-radius: 5px;
}

button{
    margin-top:50px;
    margin-left:175px;
    width:150px;
    background-color: #e2c16c;
    cursor:pointer;
    border-radius: 5px;
}
button:active{
    background-color: #EEEA3CFF;
}
.item{
    margin-left:150px;

}
h2{
    margin-left:40px;
}
input{
    width:200px;
}
