* {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background: chartreuse;
}
#sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background: aquamarine;
}

#menu_4:hover {
    background-color: aqua;
    transition: 0.5s;
    cursor: pointer;
}

#quan_li{
    transition: opacity 0.5s;
    position: absolute;
    z-index: 2;
    left: 700px;
}

#san_pham {
    width: 70vw;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 330px;
}

#menu_2:hover {
    background-color: aqua;
    transition: 0.5s;
    cursor: pointer;

}

#don_hang {
    width: 60%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left:320px;
}

#menu_3:hover {
    background-color: aqua;
    transition: 0.5s;
    cursor: pointer;

}

li{
    padding:20px;
}

table {
    width: 70vw;
    row-gap: 10px;
    column-gap: 10px;
    text-align: center;
    border:  1px solid;
    overflow-y: scroll;
    border-collapse: collapse;
}
td{
    background-color:goldenrod;
    color:white;
}
button{
    border-radius: 5px;
    background-color:palegoldenrod;
    cursor:pointer;
}
input{
    border-radius: 5px;
}
select{
    border-radius: 5px;
}