*{
    list-style-type: none;
    text-decoration: none;
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#sidebar{
    width:30%;
    height:100%;
    position: fixed;
    z-index: 1;
    background: gray;
}

#menu_1:hover {
    background-color: #e2c16c;
    transition: 0.5s;
    cursor: pointer;
}
#trang_chu{
    position: absolute;
    z-index: 2;
    left:500px;
}
.sold-out{
    margin-top: 5vh;
}
.revenue{
    margin-top: 5vh;
    padding-bottom: 5vh;
}
.sold-out-table,.revenue-table{
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}
table, th, td{
    border: 1px solid;
}
table{
    border-collapse: collapse;
}
.title{
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
}
#menu_4:hover{
    background-color: #e2c16c;
    transition: 0.5s;
    cursor: pointer;
}
#nguoi_dung{
    position: absolute;
    z-index: 2;
    left:500px;
}
.user-information-title{
    height: 10%;
}
.user-information-action{
    width: 15%;
}
.user-information-password{
    width: 15%;
}
.user-information-full-name{
    width: 20%;
}
.user-information-username{
    width: 15%;
}
.user-information-num{
    width: 5%;
}
.low-height{
    height: 4.5vh;
}
.function{
    display: flex;
    padding-top: 30px;
    gap: 5px;
}
.remove-user{
    padding: 5px 15px 5px 15px;
    font-size: 15px;
}
.add-user{
    padding: 5px 15px 5px 15px;
    font-size: 15px;
}
.modify-user{
    padding: 5px 15px 5px 15px;
    font-size: 15px;
}
.finding{
    padding: 5px 15px 5px 15px;
    font-size: 15px;
}
#find{
    padding: 5px 15px 5px 15px;
    font-size: 15px;
}
#quan_li{
    transition: opacity 0.5s;
    position: absolute;
    z-index: 2;
    left: 700px;
}
#san_pham {
    width: 70vw;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 470px;
}
#menu_2:hover {
    background-color: #e2c16c;
    transition: 0.5s;
    cursor: pointer;

}
#don_hang {
    width: 60%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left:470px;
}
#menu_3:hover {
    background-color: #e2c16c;
    transition: 0.5s;
    cursor: pointer;
}
li{
    padding:20px;
}
table {
    width: 70vw;
    row-gap: 10px;
    column-gap: 10px;
    text-align: center;
    border:  1px solid;
    overflow-y: scroll;
    border-collapse: collapse;
}
td{
    background-color:goldenrod;
    color:white;
}
button{
    border-radius: 5px;
    background-color:palegoldenrod;
    cursor:pointer;
}
input{
    border-radius: 5px;
}
select{
    border-radius: 5px;
}