<<<<<<< HEAD
*{
    padding:0;
    margin:0;
    list-style: none;
    text-decoration: none;
}
#header {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#head {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-left: 100px;

}

input {
    width: 250px;
    border-radius: 5px;
    height: 30px;

}

#glass {
    position: absolute;
    z-index: 1;
    left: 1250px;
    top: 9px;
}
h3{
    position: absolute;
    left:1300px;
    top:10px;
}
h1{
    margin-left:550px;
}
#content_1,#content_2,#content_3{
    margin-left:200px;
    margin-top:50px;
}
#content_2 ul li{
    list-style: circle;
}
#content_3 ul li {
    list-style: circle;
}
#content_1 ul li{
    list-style: circle;
}
=======
.content{
    margin-top: 100px;
}

h1{
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
}

.content_1{
    border: black solid 5px;
    width: 93%;
    padding: 20px;
    height: 450px;
    margin: 50px;
    background-color: #f5f5e1;
    border-radius: 15px;
}

.content_1 img{
    float: right;
    width: 30%;
    margin-right: 50px;
}

.item{
    float: left;
    width: 40%;
    list-style-type: decimal;
    margin-top: 30px;
    margin-left: 50px;
}

.content_1 h2{
    margin-top: 10px;
}

.item li{
    font-size: 20px;
    padding: 5px;
}

>>>>>>> f4710262bed9cb7ce0ee0717c6e9e1c77b002995
