* {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Tahoma, Arial, sans-serif;
    box-sizing: border-box;

}

form {
    border-color: darkgoldenrod;
    border: double 2px;
    margin-top: 200px;
    margin-left:500px;
    width:500px;
    height:200px;
    box-shadow: darkgray 2px 2px;
}
#email,#xacthuc{
    width:200px;
    height:30px;
    margin-left:150px;

}
label{
    margin-left:150px;

}
h2{
    margin-left: 180px;

}
button{
    margin-top:50px;
    margin-left:175px;
    width:150px;
}
