*{
    padding:0;
    margin:0;

    text-decoration: none;
}
body{
    overflow-y: scroll;
    overflow-x: scroll;
}
.item{
    list-style: none;
}
#header {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#head {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-left: 100px;

}

input {
    width: 250px;
    border-radius: 5px;
    height: 30px;

}

#glass {
    position: absolute;
    z-index: 1;
    left: 1250px;
    top: 9px;
}
h3{
    position: absolute;
    top:5px;
    left:1300px;
    z-index: 1;
}
h1{
    margin-top:50px;
    margin-left:230px;
}
h2 {
    margin-left: 150px;
    margin-top:20px;
}
.sub_content{
    list-style:square;
    padding:15px;
    margin-left:170px;
    font-size:17px;
}